{% extends 'mainapp/base.html' %}

{% block content %}
{% load static %}

<div class="portfolio">
    <div></div>
    <div>
        <div class="search_div">
			<form method='get'>
            <input value="" placeholder="Search" class="textfield" name='search'>
			</form>
        </div>
    </div>
    <div class="portfolio_list">
        {% for portfolio in object_list %}
        <div>
            <div class="portfolio_object">
                <div>
                    <img src="{{portfolio.caver.url}}" alt="" class="portfolio_image">
                </div>
                <div class='div_portfolio_p'>
                    <p class="portfolio_p">{{portfolio.name}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div></div>
</div>

{% endblock %}
