.hello{
    display: grid;
    grid-template-columns: 10.89% 51.22% 27% 10.89%;
}
.hello_title{
    line-height: 76px;
    font-size: 50px;
    color: #a4fab5;
}
.hello_desc{
    margin-top: 18px;
    font-size: 18px;
    line-height: 34px;
}
.div_cover_hello{
    display: grid;
    justify-items: center;
}
.cover_hello{
    max-width: 80%;
}
